.container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto
}

.overlay-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  background: rgba(0,0,0,0.5);
  border-radius: 5px;
  padding: 4px 8px;
  pointer-events: none;
}

/* Set size for datepickers */
.DateInput, .DateInput_1 {
  width: 100%;
}
.DateInput_input, .DateInput_input_1 {
  height: 4.9vh;
  font-size: inherit;
  padding-top: 0.1vh;
  padding-bottom: 0.1vh;
}

